@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.fa-snowflake {
    color: rgb(136, 184, 255);
}

.fa-snowflake:hover {
    color:rgb(68, 161, 248);
}

.section_2project {
    display: flex;
    text-align: center;
}

.header_2project {
    font-family: Mountains of Christmas;
    margin: 10px;
}

.body_2project {
    font-family: Pangolin;
}

.article_2project {
    margin: 10px;
    padding: 13px;
    background-color: #c8ffff;
    border-radius: 15px;
}

.fa-snowman  {
    color: rgb(136, 184, 255);
}

.fa-snowman:hover {
    color:rgb(68, 161, 248);
}


.fa-person-snowboarding  {
    color: rgb(136, 184, 255);
}

.fa-person-snowboarding:hover {
    color:rgb(68, 161, 248);
}


.fa-igloo  {
    color: rgb(136, 184, 255);
}

.fa-igloo:hover {
    color:rgb(68, 161, 248);
}


.fa-person-skating  {
    color: rgb(136, 184, 255);
}

.fa-person-skating:hover {
    color:rgb(68, 161, 248);
}


.fa-socks  {
    color: rgb(136, 184, 255);
}

.fa-socks:hover {
    color:rgb(68, 161, 248);
}


.fa-gift  {
    color: rgb(136, 184, 255);
}

.fa-gift:hover {
    color:rgb(68, 161, 248);
}


.fa-gifts  {
    color: rgb(136, 184, 255);
}

.fa-gifts:hover {
    color:rgb(68, 161, 248);
}

.body_project1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Neucha;
    font-size:x-large;
    background-color: #6495ed;
    color: white;
}

.colorpage1 {
    background-color: #fff785;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Neucha;
    font-size:x-large;
    color: white;
}

.colorpage2 {
    background-color: #8dd9bf;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Neucha;
    font-size:x-large;
    color: white;
}

.colorpage3 {
    background-color: #fc7d6f;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Neucha;
    font-size:x-large;
    color: white;
}

.shapka {
    display:flex;
    width: 1024;
    text-align: center;
    padding: 5px;
}

.imya {
    color: rgb(55, 135, 255);
}

.ssilki {
    text-align: right;
    width: 10000px ;
    color: rgb(134, 134, 134);
}

.osnova {
    display:flex;
    width: 1024;
    padding: 5px;
}

.tekst {
    padding: 5px;
    margin: 60px 0px 80px 15px;
}

.first_text {
    background-color: rgb(55, 135, 255);
    color: white;
    padding: 3px;
    border-radius: 7.5px;
    width: 280px;
}

.secound_text {
    font-size: 39px;
    color: rgb(134, 134, 134);
    padding: 20px 0px 0px 0px;
}

.third_text {
    color: rgb(55, 135, 255);
    font-size: 60px;
    padding: 3px 0px 0px 0px;
}

.fourth_text {
    color: rgb(55, 135, 255);
    font-size: 60px;
}

.knopki {
    display:flex;
    margin: 20px 0px 10px 0px;
    padding: 7px;
}

.knopka1 {
    margin: 5px 30px 5px 0px;
    padding: 20px 40px;
    background-color: rgb(55, 135, 255);
    color: #ffff;
    border-radius: 15px;
}

.knopka2 {
    margin: 5px 10px 5px 0px;
    padding: 20px 40px;
    border: 1px solid #000000;
    border-radius: 15px;
}

.photo {
    text-align: right;
    margin: 0px 0px 0px 70px;
}

footer {
    text-align: center;
    background-color: #f1f1f1;
}

h1 {
    color: rgb(55, 135, 255);
    text-align: center;

}

.znachki {
    margin: 20px 0px 0px 0px;
}

.podzagolovok {
    color: #ff0077;
    margin: 22px 25px 15px;
}

.resume_menu {
    background-color: #f1f1f1;
}

.card {
    margin: 5px;
    background-color: white;
    width: 600px;
    display: flex;
    padding: 5px;
    border-radius: 10px;
}

.card1  {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.many_cards {
    display: flex;
}

.card2{
    margin: 20px;
}

.osnova_resume {
    margin: 10px;
}

.fa-wand-magic-sparkles {
    color: #ff0077;
    margin: 20px 15px 15px;
    font-size: x-large;
}

.fa-code {
    color: rgb(55, 135, 255);
    margin: 20px 15px 15px;
    font-size: x-large;
}

.skills_languages {
    background-color: #fff;
    display: flex;
    padding: 10px;
    border-radius: 20px;
}

.skills_languages-bloks {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.fa-book-bookmark {
    color: rgb(55, 135, 255);
}

.fa-sleigh {
    color: rgb(55, 135, 255);
}

.project_card {
    display: flex;
    margin: 50px 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #f1f1f1;
}

.photo-projet {
    border-radius: 30px;
}

.project_name {
    color: #ff0077;
    margin: 120px 25px 15px 20px;
}

.tekst_ssilka {
    margin: 10px 40px 10px 5px;
}

.project_text {
    margin: 0px 0px 20px 0px;
}

.ssilka {
    background-color: #fff;
    padding: 20px;
    margin: 0px 210px 0px 0px;
    border-radius: 17px;
    text-align: center;
}

.ssilka:hover {
    background-color: #ffaed4;
}

